<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <h4 align="center"><%= t 'company.company' %> - <%= t 'new' %></h4>
  </div>

  <div class="col-md-2" align="right">
  </div>
</div>
<hr>

<%= render 'form' %>