// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//body {
   // background-image: url(/assets/Logo.png);
   // background-repeat: no-repeat;
 //   background-position: 10% 80%;
  //  background-size: 220px 300px;
    //background-color: #cccccc;
//}

.status_0 /*STATUS NEW => LIGHT YELLOW*/
{
  background-color: #FFE57F;
}

.status_1 /*STATUS POST => LIGHT GREEN*/
{
  background-color: #E0FFD6;
}

.status_5 /*STATUS VOID => LIGHT RED*/
{
  background-color: #FFE6E6;
}

.status_false /*STATUS VOID => LIGHT RED*/
{
  background-color: #FFE6E6;
}

.hidden>div {
    display:none;
}

.visible>div {
    display:block;
}

.font_color_white{
  color:white;
}

div.login
{
  width:400px;
  padding:10px;
  border:5px solid #cfcfcf;
  background:#FFFFFF;
  margin:0px;
}

h3.login
{
  margin:-10px -10px 21px;
  line-height: 80px;
  background:#f3f3f3;
  border-bottom: 1px solid #cfcfcf;
}

.text-center
{
  text-align: center !important;
}

.text-right
{
  text-align: right !important;
}

.table-header
{
  background-color:#708DC6 !important;
}

#loading-indicator {
  left: 10px;
  top: 10px;
}